@{
    ViewData["Title"] = Model.Name;
}
@model Author

<div>
    <h1>@Model.Name</h1>
    <a class="btn btn-secondary" href="@Url.Action("BookAuthor", "Book", new {id=Model.Id})">View books</a>
    <a href="@Url.Action("EditAuthor", "Author", new {id = Model.Id})" class="btn btn-primary">Edit author</a>
    <a href="@Url.Action("DeleteAuthor", "Author", new {id = Model.Id})" class="btn btn-danger">Delete author</a>
</div>
